body{
  text-align: center;
  box-sizing: border-box;
}

.bg-green{
  background-color: green;
}

.bg-yellow{
  background-color: yellow;
}

.products_row:first-of-type{
  margin-bottom: 40px;
}

.product{
  width: 300px;
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

.product:hover{
  cursor: pointer;
}

.discount{
  position: absolute;
  top: 0;
  right: 0;
}

.heart{
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0px;
  font-size: 40px;
  display: none;
}

.product:hover .heart{
  display: block;
}
